
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Condensed:wght@100;400;606&display=swap');

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }

  :root{
    --mainColor: #5c5829;
    --mainColorLight: #a7aa57;
    --secondaryColor: #DB2B39;
    --textColor: #eee;

  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
  }



  nav a{
   
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
  
  }

  

 